<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI</key>
	<array>
		<string>CollectionView</string>
		<string>Test</string>
		<string>BackgroundBlur</string>
		<string>Font</string>
	</array>
	<key>SystemService</key>
	<array>
		<string>TelephonyNetworkInfo</string>
		<string>LocalAuthentication</string>
		<string>AppStore</string>
		<string>TakeScreenShot</string>
	</array>
	<key>Network</key>
	<array>
		<string>NetState</string>
		<string>NSURLProtocol</string>
	</array>
	<key>BaseService</key>
	<array>
		<string>CrashReport</string>
	</array>
	<key>CoreData</key>
	<array>
		<string>Basic</string>
	</array>
	<key>CoreVideo</key>
	<array>
		<string>CoreVideo(GIF to Video)</string>
	</array>
</dict>
</plist>
